* {
    color: white;
}

ul {
    list-style-type: none;
}

li{
    display: inline;
}

a,
ul,
li {
    text-decoration: none;
}

li {
    margin: 20px;
}


.valve:hover {
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.steam:hover {
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.menu:hover {
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.news:hover {
    text-shadow: white 1px 0 10px;
}

.shop:hover {
    text-shadow: white 1px 0 10px;
}
