* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(43, 43, 43);
    font-family: Courier New;
    color: white;
}

.header {
    min-height: 7.8vh;
}


.menu_header {
    font-size: 25px;
    padding: 20px 8px 8px 10px;
}

.content {
    min-height: 84.6vh;
}

.footer {
    min-height: 7.8vh;
}

.content {
    min-height: 85.6vh;
}

.footer {
    min-height: 7.2vh;
}