* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(43, 43, 43);
    font-family: Courier New;
    color: white;
}

.header {
    min-height: 7.2vh;
    background-color: darkred
}

.menu_header {
    font-size: 25px;
    padding: 10px 8px 8px 10px;

}

.content {
    min-height: 85.6vh;
}

.footer {
    min-height: 7.2vh;
    background-color: rgb(49, 140, 66);
}